 <!--Bottom Nav-->
 <footer>
    <nav class="navbar fixed-bottom navbar-dark" style="background-color: rgb(37, 29, 82);">
      <h4 class="display-6 navbar-text"> &copy;Copyright 2022. All Rights Reserved.</h4>
    </nav>
  </footer>