<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h2>Arshad Khan - <a href="/Assets/akhanres.pdf">Resume</a></h2>
    <br>
    <br>
    <h3>About Me</h3>
    <img id="me" src="/Assets/images/arshy.jpg"width="280" height="400" ></img>  
    <p>
        My name is Arshad Khan and I am currently a student in the 
        <strong>Health Informatics Technology</strong> program at Centennial College.
        I prevously studied Biomedical Sciences at the university of Ottawa where I graduated 
        with a Bachelor of Science degree. Some of my hobbies include watching and playing soccer,
        watching netflix, sleeping and of course coding :)
        <br> 
        An interesting fact about me is that I used to play soccer semi-professionally when I was 16 
        and had gotten scouted to play for Juventus. However, due to an injury, 
        I had to give up playing for a couple of years and decided to focus more on school instead.
        This has lead me to discovering my passion for both science and computer programming, where 
        I hope to one day create a program that can make a difference in the world.
        <br>
        As a wise man once said:
        <blockquote>
        <i>"Yesterday is history, tomorrow is a mystery, but today is a gift.
             That is why it is called the present."
        </i>
        <br>~~~Master Oogway~~~
    </blockquote>
    </p>

  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>