<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <br>
      <p>
       <a href="http://studentweb.cencol.ca/akhan545/Project%20Real%20Estate/home.html"><img src="/Assets/images/realestate.JPG" id="project1"> </img></a>
       <br> 
       In this project, I created a real estate website that included multiple web pages
        and an image gallery. It was one of my first big projects and it taught me the importance of
        making sure that your site is structured (so its easy to follow the code), multiple tricks using
        css properties and how to create an image gallery using css and html instead of javascript.
        If you wish to view the website and its functionalities, you can click on the thumbnail image to
        the left.
        <br>
        <--------
      </p>
     
      <p>
        <br>
        <br>
        <a href="https://github.com/Compy510/Compy510-GpaCalculator"><img src="/Assets/images/gpacalc.JPG" id="project2"></img></a>
        In this project, I created a fully functional Gpa Calculator using C#. I implemented many 
        different properties and techniques such as using classes, threads, linq query, inheritance, etc.
        If you wish to view my code in-depth and learn more about about my project, 
        you can click on the thumbnail image to the right and view my readme file on Github.
        &emsp;&emsp;&nbsp;&nbsp;-------->
      </p>
      <br>

      <p>
        <br>
        <br>
        <br>
        <a href="http://studentweb.cencol.ca/akhan545/Comp125A/Assignment%203%20Arshad%20Khan/photos.htm"><img src="/Assets/images/project3.JPG" id="project3"></img></a>
        In this project, I created an image gallery using html, css and javascript. I implemented 
        features such as arrows to view more pictures, a favorites list, a zoomed image if the image
        is clicked, and the ability to add and delete pictures from the favorites list. If you wish to 
        view my code in-depth and learn more about my project, you can click on the thumbnail image
        to the left.
        <br>
        <--------
      </p>

      <p>
        <br>
        <h2>Linux Projects</h2>
        <br>
        &emsp;&emsp;&emsp;Apache web server demonstration &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Share folder between linux and windows demonstration
        <ul id="linux">
          <li>  
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/VBmw-vvaLUo">
            </iframe>
          </li>
          <li>
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/9fpVdft9svA">
            </iframe>
          </li>
        </ul>
      </p>
      </div>
</main>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>