<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
   <h2>Services</h2>
   <i>'Engineered for Excellence and Engineered for You.'</i>
   <img src="/Assets/images/codingimage.jpg" id="serv_image"></img>
   <p>
<br>
<br>   
        <i class="fas fa-tablet-alt fa-3x" id="icon_serv1"></i>
        <strong>Custom Application Development</strong>
        <br>
        Custom development of mobile and desktop applications

<br>
<br>
<br>
        <i class="fas fa-desktop fa-3x" id="icon_serv2"></i>
        <strong>Custom Web Development</strong>
        <br>
        Custom development of web pages, services and applications

<br>
<br>
<br>
        <i class="fas fa-laptop-code fa-3x" id="icon_serv3"></i>
        <strong>General Programming</strong>
        <br>
        Custom development of applications or software that are suited to your needs
   </p>
  </div>
  
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>