<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!--Main Content-->
    <main class="container">
      <div class="jumbotron">

        <div class="panel panel-default"> <!--panel to hold contact information-->
            <div class="panel-heading"><h2>Contact Information</h2></div>
            <div class="panel-body"><strong>Email: </strong><a href="mailto:akhan545@my.centennialcollege.ca">akhan545@my.centennialcollege.ca</a></div>
            <div class="panel-body"><strong>Linkedin: </strong><a href="https://www.linkedin.com/in/arshadkhan545/">Akhan</a></div>
            <div class="panel-body"><strong>Phone number:</strong> 416-625-6171</div>
        </div>

<!--form content-->
        <form action="/home"
        onsubmit="alert('Thank you for contacting me, I will get back to you as soon as possible.')">
            <p>
                <h2>Enter your contact information below:</h2>
            </p>
            <p>
           <label for="Firstname">First Name:</label>
            <input id="Firstname" placeholder="Firstname"  
            type="text" required="required" oninvalid="Bubble(this);">
            </p>
            <p> 
                <label for="Lastname">Last Name:</label>
                <input id="Lastname" placeholder="Lastname"  
                type="text" required="required" oninvalid="Bubble(this); ">
            </p>
            <p> 
                <label for="Phonenum">Phone Number:</label>
                <input id="Phone1" placeholder="(xxx)-xxx-xxxx"  
                type="tel" required="required" oninvalid="Bubble(this);">
            </p>
            <p> 
                <label for="Email">Email:</label>
                <input id="Email1" placeholder="email@address.com"  
                type="text" required="required" oninvalid="Bubble(this);" >
            </p>

            <img id="drake" src="/Assets/images/drake.gif" alt="hotline bling drake gif"></img>

            <p> 
                <label for="Comments" id="commtag">Comments:</label>
                <textarea id="Comments" rows="4" cols="50"></textarea> 
            </p>

           <p>
        <input type="submit" id="submit" value="Send information">
         <input type="reset" id="reset" value="Clear form">
        </p> 
      </form>  
    </main>

    <!--Javascript for form validation-->
    <script> 
    //regex filter used for validations
    var EmailRegEx = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.]+\.[a-zA-Z]/; 
    var PhoneRegEx = /^\(?([0-9]{3})\)?[- ]?([0-9]{3})?[- ]?([0-9]{4})$/;

    //functions used to check regex filter
    function CheckPhoneNum(Evt) { 
    var PhoneCheck = document.getElementById("Phone1").value;
    if(PhoneRegEx.test(PhoneCheck)) {

    } 
    else 
    {
    alert("Incorrect Phone Number Format, must be (xxx)-xxx-xxxx");
    Evt.preventDefault();
    }   
}

    function CheckEmail(Evt) { 
    var EmailCheck = document.getElementById("Email1").value;
    if(EmailRegEx.test(EmailCheck)) {

    } 
    else 
    {
    alert("Incorrect Email Format, must be email@address.com");
    Evt.preventDefault();
    }   
}

    //event listeners
    function createEventListeners() {
    var Listen1 = document.getElementById("submit");
    Listen1.addEventListener("click", CheckEmail, false);
    var Listen2 = document.getElementById("submit");
    Listen2.addEventListener("click", CheckPhoneNum, false);
}

    window.addEventListener("load", createEventListeners, false);
    </script>

    <%- include partials/bottom_nav.ejs %>
    
    <%- include partials/footer.ejs %>