<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content-->
<body id="bg">
<main class="container">
  <div class="jumbotron">
   <h2 id="welcome">Welcome to my Personal Portfolio</h2>
  </div>
  <br>
  <blockquote id="welcome2">
    <i>'My mission as a developer is to bridge the gap between technology and personality. 
    By hiring me, you will find that the work I produce not only exceeds your expectations
    but also represents who you are as a company in terms of Quality and Creativity.'</i>
  </blockquote>
</main>
</body>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>




