/*FileName: app.css
Author: Arshad Khan
Student#: 301180776
Date: September 27*/

/* navbar content*/
.nav-link{
  color: rgb(212, 243, 161) !important;
}
.active{
    background-color: rgb(20, 141, 172);
}
.nav-link:hover{
    color: rgb(255, 255, 255) !important;
}
.navbar-expand-lg{
    background-color:rgb(37, 29, 82);
 }
.navbar-text{
    font-size: medium;
}

/* About page content*/
#me{
    float: right;
    margin-left: 25px;
    margin-top: -60px;
}
/* Home page content*/
#logo{
    margin-left: 10px;
    margin-top: -25px;
    margin-bottom: -25px;
}
#welcome{
    color: white;
    text-align: center;
    margin-top: 8px;
}
#bg{
    background-image:url(/Assets/images/fullnight2.jpg);
    max-height: 100%;
    background-repeat: no-repeat;
}
#welcome2{
    color: white;
    font-size: larger;
    margin-right: 140px;
}
/* Projects page content*/
#project1{
    width: 400px;
    float:left;
    height: 200px;
    margin-right: 25px;
}
#project2{
    width: 400px;
    height: 200px;
    float:right ;
    margin-top: -30px;
}
#project3{
    width: 400px;
    float:left;
    height: 200px;
    margin-right: 25px;
    margin-top: -50px;
}
html{
    margin-bottom: 65px;
}
#linux{
    list-style-type: none;
    display: inline;
    margin-right: 40px;
}
footer{
    overflow:hidden!important;
}
/* Services page content*/
#servicelist{
    list-style-type: none;
}
#icon_serv1{
    color: blue;
    float:left;
    padding-right: 15px;
}
#icon_serv2{
    color: blue;
    float:left;
    padding-right: 15px;
    margin-left: -12px;
}
#icon_serv3{
    color: blue;
    float:left;
    padding-right: 10px;
    margin-left: -14px;
}
#serv_image{
    float: right;
    width: 500px;
    height: 400px;
    margin-right: -25px;
}
/* Contact page content*/
input:invalid{
        background-color: rgb(255,233,233);
}
label {
    display: inline-block;
     margin-right:5px;
}
#submit{
   background-color: rgb(211, 209, 209);
   border-radius: 3px;
    border-color: rgb(126, 126, 126);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#reset{
   background-color: rgb(211, 209, 209);
   border-radius: 3px;
    border-color: rgb(126, 126, 126);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Firstname, #Lastname{
    width:222px;
}
#Email1{
    width:258px;
}
#commtag{
display: block;
}
.panel-default{
    float:right;
    border-color: black;
    border-style: solid;
}
#drake{
    float:right;
    width:450px;
    height: 300px;
    margin-top: -80px;
}